<div class="col-lg-12 mx-auto mt-2 ">
  <div class="card mt-4 mb-4 mx-4">
    <div class="card-body">
      <h3 class="text-center mb-3"> Search professionals across the world!</h3>
      <%= search_form_for @q, url: root_path do |f| %>
        <div class="input-group mb-3">
          <%= f.search_field :country_or_profile_title_cont, class: 'form-control', placeholder: 'Search by country or profile title..'%>
          <%= f.submit class:'btn btn-primary'%>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row mt-4 mb-4 mx-3">
    <% @user.each do |user| %>
      <div class="col-lg-3 mb-3 mt-3">
        <div class="card text-center shadow" style="min-height: 380px;">
          <div class="card-body">
            <%= image_tag "dmu1.png", style: "width: 150px; border-radius: 50%; ", class: 'mb-3' %>
            <div class="user-info">
              <h5><%= user.full_name %></h5>
              <p class="lead"><%= user.profile_title%></p>
              <small class="text-primary"><%= user.country %></small><br>
              <%= link_to 'View Profile', member_path(user), class:'btn btn-primary mt-2'%>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
