<%= turbo_frame_tag :remote_model, target: '_top' do%>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controller="bs-model">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Profile Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <%= form_with model: current_user, url: update_member_description_path, method: :patch do |form|%>
          <div class="model-body">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <%= form.label :description, class: 'mb-2 mt-2 p-1'%>
                  <%= form.text_area :about, value: current_user.about, class: 'form-control', rows: 15%>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <%= form.submit "Save Changes", data: { action: 'click->bs-model#submitEnd' }, class: 'btn btn-primary'%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
